@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-Ptext:#d1d5dc;
    --color-Heads:#fff;
    --color-Sun:#fff;
}

@layer base{
    h1 {
      @apply font-bold text-base ml-9 mt-4 md:mt-5 
    }

    p {
      @apply text-Ptext ml-9 text-sm mr-2
    }
}

@layer components {
    .card {
        @apply bg-slate-800 text-Heads rounded-2xl border border-gray-600
    }
}